@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}



.footer {
  display: flex;
  padding: 120px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 0;
  background: var(--Hydromagic-Negro, #000);
}



.footer-content {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}


.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 360px;
}

.footer-logo {
  width: 108px;
  height: 48px;
  aspect-ratio: 9 / 4;
  object-fit: contain;
}

.footer-description {
  color: var(--Hydromagic-Blanco, #FFF);
  font-size: var(--Spacing-Fonts-Desktop-Label, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}



.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}


.footer-title {
  color: var(--Hydromagic-Blanco, #FFF);
  font-size: var(--Spacing-Fonts-Desktop-Label, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}



.footer-link {
  color: var(--Hydromagic-Blanco, #FFF);
  font-size: var(--Spacing-Fonts-Desktop-Label, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer-link:hover {
  opacity: 0.7;
}

.footer-link--active {
  font-weight: 600;
}


.footer-text {
  color: var(--Hydromagic-Blanco, #FFF);
  font-size: var(--Spacing-Fonts-Desktop-Label, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}



.footer-divider {
  width: 100%;
  max-width: 1280px;
  height: 1px;
  background: none;
  margin: 64px 0 32px;
}



.footer-bottom {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy {
  padding-left: 64px;
  color: var(--Hydromagic-Blanco, #FFF);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}



.footer-legal {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-legal-link {
  color: var(--Hydromagic-Blanco, #FFF);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

.footer-legal-link:hover {
  text-decoration: underline;
}

.footer-legal-divider {
  width: 1px;
  height: 16px;
  background: var(--Hydromagic-Blanco, #FFF);
}
